.gallery {
    position: relative;
    height: 100%;
}


.gallery .gallery-item {
    width: auto !important;
}

.gallery-item {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.gallery-item:hover{
    z-index: 5000;
}

.gallery-item img {
    border: 0 !important;
}

.gallery-item img:hover {
    width: 110%;
    height: auto;
}
