/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    /*background: url("../img/9.jpg") center top no-repeat;
    background-size: 100%;*/
    overflow: hidden;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}
a:hover, a:focus {
    color: #FFF;
    text-decoration: none;
}

#upper-gradient {
    height: 500px;
    width: 100%;
    background: url('../img/upper-background.png') repeat-x;
    position: absolute;
    top: 0;
}

#main-wrapper {
    height: 100%;
}

#main-wrapper > header {
    margin: 32px auto 0;
    height: 138px;
    width: 994px;
    position: relative;
    z-index: 1;
}

header img {
    display: block;
    margin: 0 auto;
}

/* Barra redes sociais */
#redes-sociais {
    position: absolute;
    top: 0;
    right: 0;
}
#redes-sociais a{
    width: 34px;
    height: 36px;
    display: inline-block;
    margin-right: 5px;
}
#redes-sociais a:hover{
    width: 36px;
    height: 36px;
    background-size: 168px 37px;
    margin-right: 3px;
}
.icon-fb {
    background: url('../img/redes-sociais.png') no-repeat -1px 0;
}
.icon-tt {
    background: url('../img/redes-sociais.png') no-repeat -45px 0;
}
.icon-youtube {
    background: url('../img/redes-sociais.png') no-repeat -87px 0;
}
.icon-sc {
    background: url('../img/redes-sociais.png') no-repeat -131px 0;
}
/* Fim redes sociais */

/* Sub menu */
.menu-menu-principal-container{
    text-align: center;
}
.nav-menu, ul.sub-menu {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
  z-index: 1;
}
.nav-menu li, li.sub-menu {
  font-weight: bold;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 8px 31px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul.sub-menu {
  padding: 0;
  position: absolute;
  top: 31px;
  left: 0;
  /*width: 150px;*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
li.sub-menu { 
  display: block; 
}

.nav-menu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
/* Fim sub menu */


#content-wrapper {
    position: relative;
}

.gs-container {
    width: 994px;
    margin: 0 auto;
    padding: 0;
}

nav {
    background: url('../img/nav-background.png') repeat;
    height: 37px;
    width: 994px;
    border-bottom: 6px solid #f1cb00;
}

/*nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    width: 12.1%;
    margin: 11px 0 12px 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}
*/
nav ul li a {
    color: #ebd200;
    text-decoration: none;
    text-transform: uppercase;
}

#content {
    position: relative;
}

.home-container > article{
    width: 994px;
    margin: 0 auto;
}

.contato-container {
    width: 300px;
    margin: 0 auto;
    color: #769fea;
    padding-top: 100px;
}

/* Press kit template */

.press-container{
    width: 610px;
    margin: 0 auto;
    position: relative;
}
.press-container > a{
    position: absolute;
    display: inline;
}
.press-container > a:hover img {
    width: 118px;
}
.press-container a h2{
    color: #d8c800;
    text-transform: uppercase;
    display: inline;
    font-weight: 600;
}
.release{
    left: 220px;
    top: 10px;
}
.fotos{
    left: -70px;
    top: 100px;
}
.mapa_palco{
    left: 320px;
    top: 120px;
}
.rider{
    top: 200px;
    left: 220px;
}
.rider a, .rider img{
    display: block;
}

/* Fim press kit */

/* Agenda e clipping */
.category-agenda a {
    font-size: 16px;
    font-weight: 600;
}
.agenda-container, .clipping-container {
    width: 994px;
    margin: 0 auto;
    overflow: visible;    
    font-size: 14px;
}
.agenda-container{
    padding: 50px 20px 0; /* espaço para as setinhas */
}
.clipping-container{
    padding: 50px 32px 0; /* espaço para as setinhas */
}
/* Espaçamento dos blocos ímpares de evento de acordo com os tamanhos de tela */
@media screen and (max-height: 700px) {
    .bloco-eventos:nth-child(2n+1){
        padding-top: 20px;
    }
}
@media screen and (max-height: 800px) {
    .bloco-eventos:nth-child(2n+1){
        padding-top: 40px;
    }
}
@media screen and (min-height: 800px) {
    .bloco-eventos:nth-child(2n+1){
        padding-top: 100px;
    }
}
.bloco-eventos {
    width: 218px;
}
.bloco-eventos, .bloco-clipping {    
    float: left;
    margin: 0 10px;
    font-size: 14px;
}
.bloco-clipping {
    width: 280px;
}
.bloco-clipping a{
    display: block;
    margin-left: 40px;
    width: 240px;
    margin-bottom: 20px;
}
.bloco-clipping a:nth-child(2n){
    margin-left: 0;
}
.veiculo {
    text-align: right;
    text-transform: uppercase;
    font-weight: 500;
}
.bloco-eventos h2, .bloco-clipping h2{
    margin: 0;
    font-weight: 500;
}
.bloco-eventos h2, .bloco-eventos span, .bloco-clipping h2, .bloco-clipping span{
    text-transform: uppercase;
    text-align: right;
}

.local{
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.evento-verde, .evento-azul {
    width: 200px;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
}
.evento-verde {
    border-top: 50px solid #72fc00;
    color: #72fc00;
}
.evento-azul {
    border-top: 50px solid #00bfb0;
    color: #00bfb0;
}
.clipping-vermelho{
    border-top: 30px solid #f01632;
    color: #f01632;
}
.clipping-vermelho a{
    color: #f01632;   
}
.clipping-verde{
    border-top: 30px solid #42f195;
    color: #42f195;
}
.clipping-verde a{
    color: #42f195;
}
.clipping-azul{
    border-top: 30px solid #4be2d0;
    color: #4be2d0;
}
.clipping-azul a{
    color: #4be2d0;
}
.clipping-container .entry-summary{
    text-align: right;
    font-size: 14px;
}
/* Fim agenda e clipping */

@media screen and (max-height: 720px) {
    #content, #content article {
	    height: 450px;
    }
}

@media screen and (min-height: 721px) {
    #content, #content article {
	    height: 500px;
    }
}

@media screen and (min-height: 800px) {
    #content , #content article {
	    height: 560px;
    }
}

#content {
    position: relative;    
    overflow: hidden;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.60) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.60)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#content article h1 {
    margin-top: 0;
}

#patterns {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 40px;
}

.pattern {
    min-height: 40px;
    margin-top: 15px
}

.pattern1 {
    height: 50px;
    background: url("../img/pattern1.png") repeat-x;
}

.pattern2 {
    height: 30px;
    background: url("../img/pattern2.png") repeat-x;
}

.pattern3 {
    height: 25px;
    background: url("../img/pattern3.png") repeat-x;
}

.pattern4 {
    height: 62px;
    background: url("../img/pattern4.png") repeat-x;
}

.pattern5 {
    height: 61px;
    background: url("../img/pattern5.png") repeat-x;
}

.pattern6 {
    height: 61px;
    background: url("../img/pattern6.png") repeat-x;
}

.pattern7 {
    height: 83px;
    background: url("../img/pattern7.png") repeat-x;
}

.pattern8 {
    height: 24px;
    background: url("../img/pattern8.png") repeat-x;
}

.pattern9 {
    height: 112px;
    background: url("../img/pattern9.png") repeat-x;
}

#bottom-gradient {
    height: 500px;
    width: 100%;
    background: url('../img/bottom-background.png') repeat-x;
    position: absolute;
    bottom: 0;
}

/* Templates CSS */

/* Capa */
#capa {
    background: #000;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    #capa a img {
        width: 800px;
    }
}
@media screen and (max-width: 800px) {
    #capa a img {
        width: 100%;
    }
}
@media screen and (min-width: 1200px) and (max-height: 800px) {
    #capa a img{
        height: 100%;
    }
}
@media screen and (min-width: 1200px) and (min-height: 900px) {
    #capa{
        padding-top: 20px;
    }
}
/* Fim Capa */

.index-container, .ep-container {
    width: 994px;
    margin: 0 auto;
    overflow-y: auto;
    padding-bottom: 50px;
}

/* EP Template */
.sidebar-form-ep{
    background-color: #f1cb00;
    margin-bottom: 10px;
}
.ep-container {
    padding-top: 40px;
}
.ep-container > div, .col-soundcloud div{
    float: left;
    margin-right: 30px;
    width: 280px;
    font-weight: bold;
}
#current_lyric{
    height: 100%;
    overflow-y: auto;
    padding-right: 30px;
    width: 330px;
    color: #222;
    color: #FFF1A5;
}
.letra {
    text-align: right;
    float: right;
}
.sidebar-soundcloud li, .sidebar-form-ep li{
    list-style: none;
}
.widget_wysija, .formError .formErrorContent, .allmsgs .updated {
    font-family: 'Dosis', sans-serif !important;
}
.allmsgs .updated {
    border: none !important;
    background-color: #eccb1f !important;
}
.widget_wysija h1{
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 15px;

}
.wysija-paragraph {
    text-align: center;
}
.wysija-paragraph input[type="text"]{
    width: 80%;
    margin: auto;
    border: none;
    border-radius: 6px;
    padding: 5px;
}
.widget_wysija_cont .wysija-submit {
    display: block;
    margin: 5px 20px 15px;
    float: right;
    padding: 2px 10px;
}
.col-soundcloud img{
    /*width: 200px;*/
}
/* Fim Template */
