.videos-container{
    width: 994px;
    margin: 0 auto;
    padding-left: 110px;
    padding-top: 30px;
}

.nav-previous, .nav-next {
    position: absolute;
    top: 45%;
}

.nav-next {
    right: 0;
}

.nav-previous {
    left: 0;
}

div.video {
    margin-top: 10%;
}

div.video img {
    height: auto;
    width: 200px; 
}

.video-column {
    float: left;
    width: 280px;
}
.video-column div:first-child{
    margin-left: -10px;
}
.video-column div:last-child{
    margin-left: 40px;
    margin-top: 50px;
}
.even div:first-child{
    margin-top: -10px;
}
.even div:last-child{
    margin-top: 85px;   
}

.video-post-content {
    display: none;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}